$whiteColor: #fff;
$chineseColor: #f3ebeb;
$grayColor: #e0dbdb;
$blueColor: #2973d2;
$blueHoverColor: #2077e9;
$shadowColor: #0000000d;

$backgroundColor: $chineseColor;
$cardColor: $whiteColor;
$hoverBackgroundColor: $grayColor;
$buttonBackgroundColor: $blueColor;
$buttonDisabledBackgroundColor: $grayColor;
$buttonHoverBackgroundColor: $blueHoverColor;
$focusedInputBackgroundColor: $blueColor;
$inputBorderColor: $grayColor;
$inputShadowColor: $shadowColor;
$cardShadowColor: $shadowColor;
