$whiteColor: #fff;
$chineseColor: #e4dede;
$grayColor: #e0dbdb;
$blueColor: #2973d2;
$blueHoverColor: #2077e9;

$backgroundColor: $chineseColor;
$cardColor: $whiteColor;
$hoverBackgroundColor: $grayColor;
$buttonBackgroundColor: $blueColor;
$buttonDisabledBackgroundColor: $grayColor;
$buttonHoverBackgroundColor: $blueHoverColor;
$focusedInputBackgroundColor: $blueColor;
$inputBorderColor: $grayColor;
