@import "src/styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  padding: 0;
  margin: 0;
  background: $backgroundColor;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
