@import "src/styles/colors.scss";

.wrapper {
  height: 48px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid $grayColor;
  // justify-content: center;

  input {
    width: 100%;
    height: calc(100% - 2px);
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}

.active {
  border-color: $focusedInputBackgroundColor;
}

.icon {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid $inputBorderColor;
}

.buttonWrapper {
  margin-right: 10px;
}
